a {
  text-decoration: none;
  color: #018ad2;
}

a:hover {
  color: #f70808;
}

.change-color-link {
  color: #f70808;
  /* Цвет ссылки */
  font-size: 2em;
  font-weight: bold;
  padding: 20px 0px;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  /* Время изменения цвета */
}

.change-color-link:hover {
  color: rgb(247, 242, 242);
  /* Меняем цвет ссылки */
}




header,
nav {
  margin: 0 auto;
  width: 1500px;
}


main {
  margin: 18px auto;
  width: 1500px;
}

footer {
  margin: 18px auto;
  width: 1500px;
}

button {
  padding: 8px 12px;
}

body {
  margin: 18px auto;
  width: 1500px;
}

.primer {
  border: 1px dashed red;
  margin: 18px auto;
  width: 1500px
}

/* моймаркет начало*/
.heading {
display: flex-start;
align-items: flex-start;
gap: 7px;
font-family: "Inter";
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 53.25px;
}
/* моймаркет начало*/


/* образец каринок сердечка карзинка*/

/* образец каринок сердечка карзинка*/






/* образец cылки первые с27*/
.devices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.device {
  height: 19px;
}

/* образец с 34 */

/* образец  телефон с 44*/
.photos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.photo {
  height: 377px;
}

/* образец с 50*/


.colours {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.colour {
  height: 19px;
}

/* образец цена кнопка с52 */
.c {
  display: flex;
  gap: 100px;
}

.c1 {
  width: 880px;
}

.c2 {
  width: 420px;
}

/* образец цена кнопка с 118 */

/* реклама с 136 */
.z {
  display: flex;
  gap: 10px;
}


.z1 {
  width: 880px;
}

.z2 {
  width: 360px;
}

/* реклама с 146*/

/* образец вторые телефоны с 61 */
.color {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.colors {
  display: flex;

}

/* образец вторые телефоны с 81 */

/* телефон*/
.mini {
  height: 60px;

}

  {
  Width: 20px;
  Height: 18.5px;
  Left: 8px;



  position: absolute;
  left: 21.92%;
  right: 23.29%;
  top: 0%;
  bottom: 56.98%;
}

/* телефон */

/* фото тилешки с 13 */
.container {
  display: flex;
  flex-direction: row-reverse;
}

/* фото тилешки с 13 */

/* цвет товара синий с 57*/
.colour {
  Width: 157px;
  Height: 19px;
  Font: Inter;
  Weight: 700;
  Size: 16px;
  Line height: 19.36px;
  #000000
}

/* цвет товара синий с 80*/

/*  конфиграции памяти с 83 */
.memory {
  Width: 241px;
  Height: 19px;
  Top: 144px;
  Font: Inter;
  Weight: 700;
  Size: 16px;
  Line height: 19.36px;
  #000000
  
}

/*  конфиграции памяти с 84 */

/* цифры конфиграции памяти с 89 */


/* цифры конфиграции памяти с 90  */

/*характеристики товаров с97*/
.function1  {
  width: 79px;
  height: 19px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}


.vp  {
  width: 216px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

}

.os {
  
width: 246px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}

.bi  {

  width: 397px;
  height: 19px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}


.processor {
 
width: 229px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

}

.wight {
  width: 77px;
  height: 19px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/*характеристики товаров с97*/


/* реклама с 136 */
.advertisements {
  display: flex;
  flex-direction: column;
}

.advertisement {
  height: 300px;
}

/* реклама с 141 */

/* описания начинается с 125  */
.camera1 { 
  width: 382px;
  height: 95px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  
  color: #000000;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.matrix2 {
  width: 594px;
  height: 114px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  
  color: #000000;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

.connection3{
  width: 594px;
height: 95px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.movie4{
  width: 594px;
height: 133px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;


/* Inside auto layout */

flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}

/* описания до 166*/





/* Отзыв с 244*/
.comment1 {

  width: 98px;
  height: 29px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  
  
  color: #000000;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  /* Отзыв*/
}

/* Начало фото автора с 266 */

.review__photo {
  border-radius: 50%;
}

.review {
  display: flex;
  gap: 30px;


  background: url(review-1);
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.review {
  display: flex;
  gap: 30px;


  background: url(review-2);
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

}

/* конец фото автора с 300 */

/* имя фамилия с 319*/
.data {

  width: 122px;
  height: 19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* Dark gray */

  color: #888888;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* имя фамилия  с 320*/



/* оценка с 325*/
.estimation {

  width: 122px;
  height: 19px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* Dark gray */

  color: #888888;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* оценка с 326*/

/* коментарий с 325 */
.comment {
  width: 106px;
  height: 19px;

  resize: vertical;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* Dark gray */

  color: #888888;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}







/* Коментарий с 325*/

/* отправить отзыв с 332*/
.form-field__button,
.form-field__button2 {
  color: #ffffff;
  background: #F36223;
  border-radius: 4px;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: normal;
}
.form-field__button2 {
  width: 200px;
}
/* отправить отзыв с 332*/





/* Кнопка наверх с 347*/
.up {
  display: flex;
  flex-direction: row-reverse;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  /* Aqua */
  
  color: #008CF0;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  }
 /* Кнопка наверх с 347*/ 








/* образец  */
/* образец   */


/* образец  */

/* образец  */


/* образец   */


/* образец  */













  

  

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}

  {}